body {
    font-family: Arial;
	background-image: url("highlander_njit.png");
	background-color: #f8f4f4;
	background-position: center 500px;
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;
}

p {
    text-align: center;
    letter-spacing: 3px;
}

.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 7%;
	border: 2px solid #111C4C;
	box-shadow: 0px 0px 0px 1px #fff inset;
	padding: 25px;
	background-color: white;
	border-radius: 25px;
    background-image: linear-gradient(#cccccc, white);
}
/* css for any input tags in div wrap class */
.wrap input {
	border: none;
	background: white;
  	font-family:Arial ;
  	font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
/* h2 css inside div wrap class */
.wrap h2 {
	color:black;
	text-align: center;
	font-family:Arial ;
  	font-weight:700 ;
	display: block;
	height: 80px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
/* User name css inside div wrap class */
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
/* password css inside div wrap class */
.wrap input[type="password"] {
	border-radius: 0px 0px 10px 10px ;
}
/* submit button css inside div wrap class */
.wrap button {
	width: 100%;
	border-radius: 500px;
	background-color: white;
	text-decoration: center;
	border: none;
	color: black;
  	margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #111C4C;
	cursor: pointer;
}