body {
    font-family: Arial;
    background: rgba(94,142,205,0.68);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 50px 50px;
}

h2 {
	text-align: center;
  color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 100px;
}
.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 	100px;
  color: #111C4C;
  font-weight: 500;
  font-size: 125%;
  font-family: 'Montserrat', sans-serif;
  border-top: 1px solid #111C4C;
  border-bottom: 1px solid #111C4C;
  border-right: 1px solid #111C4C;
  border-left: 1px solid #111C4C;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 50vh;
}

#logout {
	margin: 0px 0px 0px 0px;
  font-size:18px;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

 .btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}