html {
	font-family: Arial;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #a1c4fd 199%, #05d3c6 160%);

}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3,h2 {
  text-align: center;
	letter-spacing: 1px;
	line-height: 25px;
  font-size: 25px;
}

label {
	color:black;
  overflow: auto;	
}

textarea {
  resize: none;
  overflow: auto;
}

p{
	display:inline;
}

.answers{
	padding-left:2em;
}

/* Makes the input tags have rounded corners */
input {
	border-radius: 7px 7px 7px 7px ;
}

/* Handles css for top left portion */
.topLeft { 
	width: 48%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 25px;
	overflow: auto;
}
/* Handles css for top right portion */
.topRight { 
	width: 50%; 
	height: 50%; 
	float: left;
	border:1px solid black;
	padding-left: 5px;
	overflow: auto;
}
/* Handles css for bottom portion */
.bottom {
	height: 50%;
	width: 100%;
	float: left;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #274467), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #06659B 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #06659B 5%, #408c99 100%);
	background:-o-linear-gradient(top, #06659B 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #06659B 5%, #408c99 100%);
	background:linear-gradient(to bottom, #06659B 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#06659B;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #354972 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #354972 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #354972 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #354972 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #354972 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#354972;
}
.myButton:active {
}